body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

.tomato{
     color: tomato;
     padding-top: 2px;
}

p{
    color: dimgray;

}

#new-id{
    margin-top: 50px;
    border: none;
    background-color: transparent;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-left: -7px;
}

.another-class img{
    width: 100%;    
}

.another-class{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%; 
}

.second-div img{
    width: 800px;
}

.second-div{
    width: 30%;
    float: left;
    margin-left: 1%;
    padding: 2%;  
}

#creat-link{
    margin-left: 23%;
}

.third-button{
    border: none;
    background-color: transparent;
    padding-top: 50px;
    margin-left: -1%;
}

.second-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color:white;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 20px;
}


